body {
  font-family: IranSans, 'Figtree';
  direction: rtl;
  text-align: right;
}

.siteTitleWrapper {
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'next';
  }

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'prev';
  }

}

.homeCardsFooterBox {
  .homeCardsFooter {
    .swiper-slide:not(:last-child) {
      &:after {
        right: inherit;
        left: -2rem;
      }
    }
  }
}

.siteTitleWrapper {
  .swiper-button-prev, .swiper-button-next {

    &.swiper-button-next {
      left: 0;
      right: auto;
    }

    &.swiper-button-prev {
      left: 2.5rem;
      right: inherit;
    }
  }
}

.card__bookmark {
  left: 1rem;
  right: inherit;
}

@media (max-width: 992px) {
  #mobileMenu {
    .primary-menu {
      .withSubmenu > a::after {
        content: '\f053';
      }
    }
  }
}

#mobileMenu {
  .backBtn {
    i {
      transform: scaleX(-1);
    }
  }
}

#socialNetwork {
  &:before, &:after {
    right: inherit;
  }

  &:before {
    left: -70px;
  }

  &:after {
    left: 0;
  }
}

.fa-chevrons-right {
  transform: scaleX(-1);
}

.card.videoCard {
  .videoCardSpecial__followers {
    img {
      margin-left: 0;
      margin-right: -15px;
    }
  }
}

.latestIranianNews__mini {
  .miniCards {
    .miniCard {
      .miniCard__picture {
        margin-left: 1rem;
        margin-right: 0;
      }
    }
  }
}

.applicationAreaSwiper {
  .swiper-slide:not(:last-child) {
    .miniCard {
      &:after {
        margin-left: 0;
        margin-right: 2rem;
      }
    }
  }

  .swiper-button-prev, .swiper-button-next {
    &.swiper-button-next {
      left: 0;
      right: inherit;
      background: linear-gradient(90deg, #fff 32.65%, rgba(251, 252, 253, 0) 100%);
    }

    &.swiper-button-prev {
      right: 0;
      left: inherit;
      background: linear-gradient(-90deg, #fff 32.65%, rgba(251, 252, 253, 0) 100%);
    }
  }
}

.site-navigation.sticky{
  .primary-menu{
    padding-right: 40px;
    padding-left: 0;
  }
}
.dropdown-menu {
  border: none;
  .dropdown-submenu {
    .dropdown-menu {
      right: 100%;
      left: inherit;
    }
  }
}
