body {
  font-family: IranSans, 'Figtree';
  direction: rtl;
  text-align: right; }

.siteTitleWrapper .swiper-button-prev:after, .siteTitleWrapper .swiper-rtl .swiper-button-next:after {
  content: 'next'; }
.siteTitleWrapper .swiper-button-next:after, .siteTitleWrapper .swiper-rtl .swiper-button-prev:after {
  content: 'prev'; }

.homeCardsFooterBox .homeCardsFooter .swiper-slide:not(:last-child):after {
  right: inherit;
  left: -1.6rem; }

.openSearchMobile .mobileMenu__middle .siteTitle:before {
  margin-right: 0;
  margin-left: 0.5rem; }

.siteTitleWrapper .swiper-button-prev.swiper-button-next, .siteTitleWrapper .swiper-button-next.swiper-button-next {
  left: 0;
  right: auto; }
.siteTitleWrapper .swiper-button-prev.swiper-button-prev, .siteTitleWrapper .swiper-button-next.swiper-button-prev {
  left: 2.5rem;
  right: inherit; }

.card__bookmark {
  left: 1rem;
  right: inherit; }

@media (max-width: 992px) {
  #mobileMenu .primary-menu .withSubmenu > a::after {
    content: '\f053'; } }
#mobileMenu .backBtn i {
  transform: scaleX(-1); }

#socialNetwork:before, #socialNetwork:after {
  right: inherit; }
#socialNetwork:before {
  left: -70px; }
#socialNetwork:after {
  left: 0; }

.fa-chevrons-right {
  transform: scaleX(-1); }

.card.videoCard .videoCardSpecial__followers img {
  margin-left: 0;
  margin-right: -15px; }

.latestIranianNews__mini .miniCards .miniCard .miniCard__picture {
  margin-left: 1rem;
  margin-right: 0; }

.applicationAreaSwiper .swiper-slide:not(:last-child) .miniCard:after {
  margin-left: 0;
  margin-right: 2rem; }
.applicationAreaSwiper .swiper-button-prev.swiper-button-next, .applicationAreaSwiper .swiper-button-next.swiper-button-next {
  left: 0;
  right: inherit;
  background: linear-gradient(90deg, #fff 32.65%, rgba(251, 252, 253, 0) 100%); }
.applicationAreaSwiper .swiper-button-prev.swiper-button-prev, .applicationAreaSwiper .swiper-button-next.swiper-button-prev {
  right: 0;
  left: inherit;
  background: linear-gradient(-90deg, #fff 32.65%, rgba(251, 252, 253, 0) 100%); }

.site-navigation.sticky .primary-menu {
  padding-right: 40px;
  padding-left: 0; }

.dropdown-menu {
  border: none; }
  .dropdown-menu .dropdown-submenu .dropdown-menu {
    right: 100%;
    left: inherit; }

.site-footer .list-socialMedia ul li {
  margin-left: 1.5rem;
  margin-right: 0; }
.site-footer .footer .links .links__items ul li {
  padding-left: 0;
  padding-right: 1rem; }
  .site-footer .footer .links .links__items ul li:before {
    right: 0;
    left: inherit; }

.copyright .list-socialMedia li {
  margin-right: 0.7rem;
  margin-left: 0; }

.darkMode .applicationAreaSwiper .swiper-button-prev.swiper-button-next, .darkMode .applicationAreaSwiper .swiper-button-next.swiper-button-next {
  background: linear-gradient(90deg, #161718 32.65%, rgba(45, 46, 49, 0) 100%); }
.darkMode .applicationAreaSwiper .swiper-button-prev.swiper-button-prev, .darkMode .applicationAreaSwiper .swiper-button-next.swiper-button-prev {
  background: linear-gradient(-90deg, #161718 32.65%, rgba(45, 46, 49, 0) 100%); }

#pollDigiato {
  right: -3.9rem;
  left: inherit;
  transform: rotate(-90deg); }

.backToTop {
  right: 6rem;
  left: inherit; }

.site-header .head .head__theme:after {
  margin-left: 0.5rem;
  margin-right: 1.5rem; }
.site-header .head #searchArea.active {
  margin-right: 1rem;
  margin-left: 0; }

.site-navigation-wrapper.sticky .primary-menu {
  padding-right: 40px;
  padding-left: 0; }

.site-navigation-wrapper .primary-menu {
  margin-right: -1rem;
  margin-left: 0; }

.breadcrumbWrapper .breadcrumb-item + .breadcrumb-item::before {
  transform: scaleX(-1); }

@media (max-width: 1200px) {
  .dailyNewsPageHeadItem .dailyNewsPageHead__description {
    padding-left: 3rem;
    padding-right: 0; } }
@media (min-width: 1200px) {
  .card.homeTodayItem:not(.card--full).col-reverse, .card.videoCard:not(.card--full).col-reverse {
    display: flex;
    flex-direction: column-reverse; }
    .card.homeTodayItem:not(.card--full).col-reverse .card__picture, .card.videoCard:not(.card--full).col-reverse .card__picture {
      margin-top: 1rem; }

  .dailyNewsPageHeadItem .dailyNewsPageHead__description {
    padding-left: 7rem;
    padding-right: 0; } }
.articleNewsPosts__content .postRelated h5:before {
  margin-right: 0;
  margin-left: 0.5rem; }

.list-socialMedia ul li {
  margin-right: 1.5rem;
  margin-left: 0; }

/*# sourceMappingURL=rtl.css.map */
