@charset "UTF-8";
:root {
  --header-backgroundColor: #f7f9fd;
  --darkHeaderBackgroundColor: #161718;
  --gray-border: #e1eaf9;
  --white: #fff;
  --text-color: #888dab;
  --dark-blue: #16205b;
  --primary-color: #0075e7;
  --secondary-color: #f15928;
  --dark-searchArea: #43464a;
  --dark-body: #161718;
  --dark-mobildMenu: #2d2e31;
  --light-textColor: #e1eaf9;
  --navigation-background: #f0f4fc;
  --black: #000;
  --blue: #004b94;
  --lightBlue: #ddedfc;
  --footerBackground: #f7f9fd; }

html {
  font-size: 14px; }

body {
  font-family: IranSans, 'Figtree';
  font-size: 1rem;
  transition: all 0.3s; }

a {
  text-decoration: none; }

.container {
  max-width: 1624px;
  margin: 0 auto;
  width: 100% !important;
  padding-left: 2rem;
  padding-right: 2rem; }

.latestIranianNews__big {
  height: 100%; }

.homeCardsFooter .miniCard .miniCard__picture {
  margin-right: 1rem; }

.miniCard .miniCard__title {
  flex: 1;
  font-weight: bold; }
  .miniCard .miniCard__title p {
    color: var(--blue);
    line-height: 2;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.5rem; }
.miniCard .miniCard__picture {
  border-radius: 0.4rem;
  width: 80px;
  height: 80px;
  display: block;
  overflow: hidden; }
  .miniCard .miniCard__picture a {
    width: 100%;
    height: 100%; }
  .miniCard .miniCard__picture img {
    transition: all 1s; }
.miniCard:hover .miniCard__picture img {
  transform: scale(1.1); }
.miniCard .miniCard__date {
  font-size: 12px;
  color: var(--text-color);
  font-weight: 500; }

.latestIranianNews__mini .miniCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .latestIranianNews__mini .miniCards .miniCard .miniCard__picture {
    margin-right: 1rem; }
  .latestIranianNews__mini .miniCards .miniCard .card__overload--info {
    color: var(--text-color); }
    .latestIranianNews__mini .miniCards .miniCard .card__overload--info .card__overload--author::after {
      background-color: var(--text-color); }

@media (min-width: 1600px) {
  .container {
    width: 1616px; } }
@media (min-width: 992px) {
  .container {
    width: 986px; } }
@media (min-width: 768px) {
  .container {
    width: 766px; }

  .card.card--full .card-overload .card__overload--title {
    font-size: 2.5rem; }
  .card.card--full .card-overload .card__overload--description {
    font-size: 0.8rem;
    max-width: 50%; }
  .card.card--full .card-overload .card__overload--info {
    position: absolute;
    top: 1rem;
    right: 1rem; }
    .card.card--full .card-overload .card__overload--info .card__overload--img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden; }
  .card.homeTodayItem:not(.card--full):not(.rowCard) .card__picture img, .card.videoCard .card__picture img {
    width: 100%; }
  .card.rowCard .card__picture {
    width: 120px;
    height: 120px; }
    .card.rowCard .card__picture img {
      object-fit: cover; }
  .card.videoCard .videoCardSpecial__followers {
    display: flex; }
  .card.videoCard .card__picture:before {
    font-size: 1.7rem; }
  .card.videoCard .card__picture:after {
    height: 4.5rem;
    width: 4.5rem; }

  .lastVideos__big {
    height: 100%; }

  .miniCards .miniCard .miniCard__picture {
    width: 100px;
    height: 100px; }

  .miniCard .miniCard__title p {
    font-size: 14px; }

  .latestIranianNews .miniCard .miniCard__title p {
    font-size: 16px; } }
@media (max-width: 768px) {
  .card, .miniCard {
    border-bottom: 1px solid var(--gray-border);
    border-top: 0;
    border-right: 0;
    border-left: 0; }

  .todaysNews__more {
    width: 100%; }

  .lastVideos__big {
    height: 365px; }

  .card.homeTodayItem .card__bookmark, .card.homeTodayItem .card__overload--description, .card.homeTodayItem .card-overload--categories, .card.homeTodayItem .card__overload--img, .card.homeTodayItem .card__picture::before, .card.homeTodayItem .card__picture::after, .card.videoCard:not(.videoCard--special) .card__bookmark, .card.videoCard:not(.videoCard--special) .card__overload--description, .card.videoCard:not(.videoCard--special) .card-overload--categories, .card.videoCard:not(.videoCard--special) .card__overload--img, .card.videoCard:not(.videoCard--special) .card__picture::before, .card.videoCard:not(.videoCard--special) .card__picture::after {
    display: none !important; }
  .card.videoCard--special .card-overload--categories, .card.videoCard--special .card__picture::before, .card.videoCard--special .card__picture::after {
    display: flex !important;
    z-index: 2; }
  .card.card--full .card-overload .card__overload--title {
    font-size: 1.4rem; }
  .card.homeTodayItem:not(.card--full) .card__overload--title, .card.videoCard .card__overload--title {
    font-size: 13px !important; }
  .card.homeTodayItem:not(.card--full) .card__overload--info, .card.videoCard .card__overload--info {
    font-size: 0.8rem; }
  .card.homeTodayItem:not(.card--full):not(.rowCard), .card.videoCard:not(.videoCard--special) {
    border-radius: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    padding-bottom: 1rem; }
    .card.homeTodayItem:not(.card--full):not(.rowCard) .card__picture, .card.videoCard:not(.videoCard--special) .card__picture {
      margin-right: 1rem;
      display: flex;
      justify-content: end; }
    .card.homeTodayItem:not(.card--full):not(.rowCard) .card-overload, .card.videoCard:not(.videoCard--special) .card-overload {
      padding-top: 0 !important;
      display: flex;
      flex: 4;
      justify-content: space-between;
      flex-direction: column;
      height: 100%; }
    .card.homeTodayItem:not(.card--full):not(.rowCard) .card__picture, .card.videoCard:not(.videoCard--special) .card__picture {
      width: 80px;
      height: 80px; }
  .card.rowCard .card__picture {
    width: 80px;
    height: 80px; }
    .card.rowCard .card__picture img {
      object-fit: cover; }
  .card.videoCard .videoCardSpecial__followers, .card.videoCard .videoCardSpecial__date {
    display: none; }
  .card.videoCard .card__picture:before {
    font-size: 0.9rem; }
  .card.videoCard .card__picture:after {
    height: 2.5rem;
    width: 2.5rem; }

  .miniCard {
    padding-bottom: 1rem; }

  .miniCards .miniCard .miniCard__title {
    font-size: 0.9rem; }
  .miniCards .miniCard .miniCard__picture {
    width: 80px;
    height: 80px; }

  .miniCard .miniCard__title p {
    font-size: 13px !important; }

  .applicationAreaSwiper .swiper-button-prev:after, .applicationAreaSwiper .swiper-button-next:after {
    content: ''; } }
.btn:focus, .btn:active {
  outline: none;
  border-color: transparent !important; }

input:focus {
  box-shadow: none !important; }

.head .head__theme {
  position: relative;
  color: inherit;
  display: flex; }
  .head .head__theme i {
    transform: rotate(-10deg); }
.head .searchArea .btn {
  color: inherit; }
.head #searchArea {
  border-radius: 1rem;
  width: 0;
  transition: all 0.3s;
  padding: 0 1.2rem; }
  .head #searchArea .input-group {
    flex-wrap: nowrap; }
    .head #searchArea .input-group input.form-control {
      padding: 0; }
  .head #searchArea.active {
    border: 1px solid var(--gray-border);
    background-color: var(--white);
    width: 25rem;
    margin-left: 1rem; }
  .head #searchArea input.form-control {
    color: var(--text-color);
    height: 3rem; }
    .head #searchArea input.form-control::placeholder {
      color: inherit;
      font-weight: 500;
      opacity: 0.7;
      font-size: 0.9rem; }
.head i {
  font-size: 1.4rem; }

.site-header {
  padding: 1.5rem 0;
  transition: all 0.3s;
  background-color: var(--header-backgroundColor);
  color: var(--text-color); }
  .site-header .site-branding .logo-brand {
    width: 135px;
    display: block; }
    .site-header .site-branding .logo-brand img {
      width: 100%; }
  .site-header .head {
    transition: all 0.3s; }
    .site-header .head .head__theme:after {
      content: '';
      width: 2px;
      background-color: var(--gray-border);
      height: 21px;
      display: block;
      margin: 0 0.5rem;
      margin-right: 0.5rem;
      margin-left: 1.5rem; }
  .site-header .logo-dark {
    display: none; }

.site-navigation {
  transition: all 0.3s;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--navigation-background);
  color: var(--text-color); }
  .site-navigation.hidden {
    transform: translateY(-100%); }
  .site-navigation .popularArea, .site-navigation .primary-menu {
    transition: all 0.3s; }
  .site-navigation.sticky .primary-menu {
    padding-left: 40px; }
  .site-navigation.sticky .popularArea {
    opacity: 0;
    visibility: hidden; }
  .site-navigation.hiddenNav {
    transform: translateY(-100%); }
  .site-navigation .hamburgerMenuBtn {
    color: var(--dark-blue) !important; }
    .site-navigation .hamburgerMenuBtn i {
      font-size: 1.7rem; }
  .site-navigation a {
    color: inherit; }
  .site-navigation .list-unstyled a {
    font-size: small;
    margin-right: 1.5rem; }

body.sticky .site-header {
  position: sticky;
  z-index: 1000;
  top: -100px; }
  body.sticky .site-header .site-branding {
    transition: all 0.3s; }
    body.sticky .site-header .site-branding .logo-brand {
      display: block;
      width: 35px;
      overflow: hidden; }
      body.sticky .site-header .site-branding .logo-brand img {
        width: 80px; }
  body.sticky .site-header .head, body.sticky .site-header .site-branding {
    transform: translateY(90px); }
body.sticky.hiddenNav .site-branding, body.sticky.hiddenNav .head {
  transform: translateY(0); }

.dropdown-menu {
  border: none; }
  .dropdown-menu .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    white-space: nowrap; }

.primary-menu a {
  display: block;
  color: inherit; }
.primary-menu .dropdown-toggle::after {
  border: none;
  width: 16px;
  height: 16px;
  content: '';
  background: #fbfcfd;
  display: block;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 50%;
  margin-top: 5px;
  transform: rotate(45deg) translate(0, -100%); }
.primary-menu ul.nav li:hover > ul.dropdown-menu {
  display: block; }
.primary-menu ul.nav li:hover .dropdown-toggle::after {
  opacity: 1; }

.siteTitle {
  margin-bottom: 16px;
  color: var(--dark-blue);
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -0.5px;
  position: relative;
  display: flex;
  align-items: center; }
  .siteTitle::before {
    content: '';
    width: 8px;
    background-color: var(--secondary-color);
    height: 23px;
    display: block;
    margin: 0 0.5rem;
    border-radius: 0.2rem; }

@media (min-width: 1200px) {
  .primary-menu a {
    padding: 1.5rem; }

  .card.rowCard .card__picture {
    width: 330px;
    height: 180px; }
    .card.rowCard .card__picture img {
      object-fit: cover; }

  .latestIranianNews__mini .miniCards {
    min-height: 45rem; } }
@media (max-width: 1200px) {
  .primary-menu a {
    padding: 1.5rem 0.6rem; }

  .miniCards .miniCard {
    margin-bottom: 1rem; } }
.homeRelatedNewsBox .homeRelatedCard {
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden; }
  .homeRelatedNewsBox .homeRelatedCard img {
    transition: all 1s; }
  .homeRelatedNewsBox .homeRelatedCard .homeRelatedCard__overload {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
    text-align: center; }
    .homeRelatedNewsBox .homeRelatedCard .homeRelatedCard__overload:before {
      z-index: 0;
      width: 100%;
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      content: '';
      background: linear-gradient(180deg, rgba(22, 32, 91, 0) 0, #16205b 100%);
      opacity: .5;
      pointer-events: none; }
    .homeRelatedNewsBox .homeRelatedCard .homeRelatedCard__overload .card__overload--info, .homeRelatedNewsBox .homeRelatedCard .homeRelatedCard__overload .homeRelatedCard__title {
      position: relative;
      z-index: 2; }
    .homeRelatedNewsBox .homeRelatedCard .homeRelatedCard__overload .card__overload--info {
      font-size: 1rem; }
  .homeRelatedNewsBox .homeRelatedCard .homeRelatedCard__title {
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 500; }
  .homeRelatedNewsBox .homeRelatedCard:hover img {
    transform: scale(1.1); }

.homeCards {
  background-color: var(--black); }
  .homeCards .card__overload {
    z-index: 2; }
  .homeCards .card__overload--title {
    color: var(--white);
    font-size: 2.7rem;
    font-weight: bold; }
  .homeCards .card__overload--description {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2; }
  .homeCards .homeFeaturedItem {
    position: relative;
    height: 583px; }
    .homeCards .homeFeaturedItem .attachment-single-reviews {
      object-fit: cover; }
    .homeCards .homeFeaturedItem:before, .homeCards .homeFeaturedItem:after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      z-index: 1;
      top: 0;
      pointer-events: none; }
    .homeCards .homeFeaturedItem:after {
      left: 80%;
      width: 20vw;
      background: -webkit-gradient(linear, left top, right top, color-stop(0.35%, rgba(0, 0, 0, 0)), color-stop(53.68%, #000));
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0.35%, #000 53.68%); }
    .homeCards .homeFeaturedItem:before {
      left: 0;
      width: 70%;
      background: -webkit-gradient(linear, right top, left top, color-stop(0.35%, rgba(0, 0, 0, 0)), color-stop(53.68%, #000));
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0.35%, #000 53.68%); }

#loginModal {
  font-size: 0.9rem; }
  #loginModal .modal-content {
    border-radius: 1rem;
    border: none;
    overflow: hidden; }
  #loginModal .loginModal__picture {
    background-color: var(--header-backgroundColor); }
    #loginModal .loginModal__picture h5 {
      color: var(--dark-blue);
      font-size: 1.2rem;
      font-weight: bold; }
  #loginModal .loginModal__picture, #loginModal .loginModal__form {
    padding: 4rem 3rem; }
  #loginModal .form-group label {
    color: var(--text-color); }
  #loginModal .form-control {
    border: 1px solid var(--gray-border);
    background-color: var(--header-backgroundColor);
    text-align: right;
    padding: 1rem;
    transition: all 0.3s;
    border-radius: 0.8rem; }
    #loginModal .form-control::placeholder {
      font-size: 0.9rem;
      opacity: 0.5; }
    #loginModal .form-control:hover, #loginModal .form-control:focus {
      border-color: var(--primary-color);
      background-color: var(--white); }
    #loginModal .form-control.error-message {
      border-color: red; }
  #loginModal .modalLoginBtn {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 0.8rem;
    color: var(--white);
    padding: 0.9rem 2rem; }
    #loginModal .modalLoginBtn:hover {
      opacity: 0.8; }
  #loginModal span.error-message {
    color: red;
    margin-top: 1rem;
    display: block;
    font-size: 0.8rem; }
  #loginModal .loginModal__form--links {
    color: var(--primary-color); }
    #loginModal .loginModal__form--links button {
      color: inherit;
      font-size: small; }
  #loginModal .registerModalbox, #loginModal .forgotModalbox {
    display: none; }

.homeCardsFooterBox, .editorsSuggestions {
  background-color: var(--navigation-background); }

.homeCardsFooterBox {
  transition: all 0.3s; }
  .homeCardsFooterBox .homeCardsFooter {
    transition: all 0.3s;
    background-color: var(--header-backgroundColor);
    padding: 2rem;
    z-index: 10;
    position: relative;
    border-radius: 0.8rem; }
    .homeCardsFooterBox .homeCardsFooter .swiper-slide {
      position: relative; }
      .homeCardsFooterBox .homeCardsFooter .swiper-slide:not(:last-child):after {
        content: '';
        width: 1px;
        background-color: var(--gray-border);
        height: 60px;
        display: block;
        margin: 0 0.5rem;
        top: 0.8rem;
        right: -2rem;
        position: absolute; }

p {
  line-height: 1.7; }

.rowCards .row > *:not(:last-child) .card {
  border-radius: 0;
  padding-bottom: 2rem; }
  .rowCards .row > *:not(:last-child) .card.homeTodayItem:not(.card--full), .rowCards .row > *:not(:last-child) .card.videoCard {
    border-bottom: 1px solid var(--gray-border); }

.card {
  background-color: transparent;
  position: relative;
  overflow: hidden; }
  .card.videoCard .card__overload--date {
    font-weight: 500; }
  .card.videoCard .card__picture {
    position: relative; }
    .card.videoCard .card__picture:before {
      content: '\f04b';
      font-family: "Font Awesome 6 Pro";
      z-index: 2;
      color: var(--white); }
    .card.videoCard .card__picture:after {
      content: '';
      background-color: var(--primary-color);
      z-index: 1; }
    .card.videoCard .card__picture:before, .card.videoCard .card__picture:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0.2rem; }
  .card.videoCard .card-overload:before {
    background: rgba(22, 32, 91, 0.5); }
  .card.videoCard .videoCardSpecial__date, .card.videoCard .videoCardSpecial__followers {
    z-index: 2;
    position: relative;
    font-weight: 500;
    margin-bottom: 1rem; }
  .card.videoCard .videoCardSpecial__followers {
    align-items: center; }
    .card.videoCard .videoCardSpecial__followers img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-left: -15px; }
  .card .card__overload--link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    left: 0; }
  .card a {
    color: inherit; }
  .card .card__picture {
    border-radius: 0.4rem;
    overflow: hidden; }
  .card .card__overload--info, .card .card__overload--title, .card .card__overload--description {
    position: relative;
    z-index: 2;
    pointer-events: none; }
  .card .card-overload {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2rem; }
    .card .card-overload .card-overload--categories {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .card .card-overload .card-overload--categories .card__overload--category {
        z-index: 2;
        border: 1px solid var(--dark-blue);
        background-color: var(--dark-blue);
        border-radius: 7px;
        color: var(--white);
        padding: 0.4rem 1rem;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 12px;
        pointer-events: all; }
        .card .card-overload .card-overload--categories .card__overload--category:hover {
          opacity: 0.8; }
        .card .card-overload .card-overload--categories .card__overload--category:hover {
          opacity: 1; }
    .card .card-overload .card__overload--title {
      font-size: 18px;
      line-height: 1.8;
      font-weight: bold;
      margin-bottom: 0.5rem;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden; }
    .card .card-overload .card__overload--img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden; }
    .card .card-overload:before {
      z-index: 0;
      width: 100%;
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      content: '';
      background: linear-gradient(180deg, rgba(22, 32, 91, 0) 0, #16205b 100%);
      opacity: .5;
      pointer-events: none; }
    .card .card-overload .card__overload--description {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden; }
  .card:not(.rowCard) .card__overload--description {
    font-size: 12px !important; }
  .card:not(.rowCard) .card__overload--title {
    margin-bottom: 1.1rem; }
  .card .card__picture {
    overflow: hidden;
    height: 100%; }
    .card .card__picture img {
      transition: all 0.7s;
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .card:hover .card__picture img {
    transform: scale(1.05); }
  .card.homeTodayItem, .card.videoCard {
    height: 100%; }
    .card.homeTodayItem:not(.card--full) .card-overload, .card.videoCard:not(.card--full) .card-overload {
      position: relative;
      padding: 1rem 0 0 0; }
      .card.homeTodayItem:not(.card--full) .card-overload:before, .card.videoCard:not(.card--full) .card-overload:before {
        display: none; }
      .card.homeTodayItem:not(.card--full) .card-overload .card__overload--category, .card.videoCard:not(.card--full) .card-overload .card__overload--category {
        background-color: transparent;
        color: var(--text-color);
        margin-bottom: 0;
        border: none;
        padding: 0; }
      .card.homeTodayItem:not(.card--full) .card-overload .card__overload--title, .card.videoCard:not(.card--full) .card-overload .card__overload--title {
        color: var(--blue); }
      .card.homeTodayItem:not(.card--full) .card-overload .card__overload--info, .card.videoCard:not(.card--full) .card-overload .card__overload--info {
        color: var(--text-color); }
        .card.homeTodayItem:not(.card--full) .card-overload .card__overload--info .card__overload--author:after, .card.videoCard:not(.card--full) .card-overload .card__overload--info .card__overload--author:after {
          background-color: var(--text-color); }
      .card.homeTodayItem:not(.card--full) .card-overload .card__overload--description, .card.videoCard:not(.card--full) .card-overload .card__overload--description {
        color: var(--dark-blue); }
  .card.rowCard .card__overload--author:after {
    display: none; }
  .card.rowCard .card-date {
    color: #b3b6c9;
    font-weight: 500;
    margin-top: 2.2rem;
    display: block; }

@media (min-width: 1200px) {
  .card.homeTodayItem:not(.card--full).col-reverse, .card.videoCard:not(.card--full).col-reverse {
    display: flex;
    flex-direction: column-reverse; }
    .card.homeTodayItem:not(.card--full).col-reverse .card__picture, .card.videoCard:not(.card--full).col-reverse .card__picture {
      margin-top: 1rem; } }
.card__bookmark {
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  color: var(--white);
  padding: 0.5rem 0.6rem;
  color: var(--white) !important;
  display: flex;
  align-items: center;
  justify-content: center; }
  .card__bookmark:hover {
    opacity: 0.8; }
  .card__bookmark i {
    color: inherit; }
  .card__bookmark:hover {
    opacity: 1; }

.swiper-button-prev:after, .swiper-button-next:after {
  color: var(--text-color);
  font-weight: bold; }

.applicationAreaSwiper .swiper-button-prev, .applicationAreaSwiper .swiper-button-next {
  transition: all 0.3s;
  width: 100px;
  height: auto;
  top: 0;
  bottom: 0; }
  .applicationAreaSwiper .swiper-button-prev.swiper-button-next, .applicationAreaSwiper .swiper-button-next.swiper-button-next {
    right: 0;
    background: linear-gradient(-90deg, #fff 32.65%, rgba(251, 252, 253, 0) 100%); }
  .applicationAreaSwiper .swiper-button-prev.swiper-button-prev, .applicationAreaSwiper .swiper-button-next.swiper-button-prev {
    left: 0;
    background: linear-gradient(90deg, #fff 32.65%, rgba(251, 252, 253, 0) 100%); }
  .applicationAreaSwiper .swiper-button-prev.swiper-button-disabled, .applicationAreaSwiper .swiper-button-next.swiper-button-disabled {
    opacity: 0; }
  .applicationAreaSwiper .swiper-button-prev:after, .applicationAreaSwiper .swiper-button-next:after {
    font-size: 2.5rem; }
.applicationAreaSwiper .swiper-slide:not(:last-child) .miniCard:after {
  content: '';
  width: 1px;
  background-color: var(--gray-border);
  height: 6rem;
  display: block;
  margin: 0 0.5rem;
  margin-left: 2rem; }
.applicationAreaSwiper .miniCard .miniCard__title p {
  -webkit-line-clamp: 1;
  font-size: 16px;
  font-weight: 500; }
.applicationAreaSwiper .miniCard .miniCard__title .appCard__description, .applicationAreaSwiper .miniCard .miniCard__title .appCard__category {
  font-size: 12px;
  color: var(--text-color); }
.applicationAreaSwiper .miniCard .miniCard__title .appCard__description {
  font-weight: bold; }
.applicationAreaSwiper .miniCard .miniCard__title .appCard__category {
  font-weight: 500; }
.applicationAreaSwiper .miniCard .miniCard__picture {
  width: 60px;
  height: 60px;
  border-radius: 0.8rem; }

.siteTitleWrapper .swiper-button-prev:after, .siteTitleWrapper .swiper-button-next:after {
  font-size: 1rem; }
.siteTitleWrapper .swiper-button-prev.swiper-button-next, .siteTitleWrapper .swiper-button-next.swiper-button-next {
  right: 0;
  left: auto; }
.siteTitleWrapper .swiper-button-prev.swiper-button-prev, .siteTitleWrapper .swiper-button-next.swiper-button-prev {
  right: 2.5rem;
  left: inherit; }

.homeCards .card__overload--info::before {
  content: '';
  width: 8px;
  background-color: var(--secondary-color);
  height: 20px;
  display: block;
  margin: 0 0.5rem;
  border-radius: 0.2rem; }

.card__overload--info {
  font-size: 12px;
  color: var(--white);
  white-space: nowrap; }
  .card__overload--info a {
    color: inherit; }
  .card__overload--info .card__overload--author {
    pointer-events: all;
    position: relative;
    z-index: 2; }
    .card__overload--info .card__overload--author::after {
      content: '';
      width: 1px;
      background-color: var(--white);
      height: 15px;
      display: block;
      margin: 0 0.5rem; }

.todayNews .todayNews__head a {
  color: var(--text-color); }
  .todayNews .todayNews__head a.active {
    color: var(--primary-color); }
  .todayNews .todayNews__head a i {
    font-size: 1.5rem;
    font-weight: bold; }

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    --bs-modal-width: 900px; }

  .mini-logo {
    display: none; }

  .homeCardsFooterBox .homeCardsFooter {
    margin-top: -3rem; }

  .siteTitle {
    font-size: 1.5rem; } }
@media (max-width: 992px) {
  .siteTitle {
    font-size: 1rem; }

  .site-navigation {
    z-index: 1050; }

  .site-header .logoImg {
    display: none; }

  .mini-logo.logo-dark {
    display: none; }
  .mini-logo.logo-light {
    display: block; }

  #mobileMenu .primary-menu .withSubmenu > a {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #mobileMenu .primary-menu .withSubmenu > a::after {
      content: '\f054';
      font-family: "Font Awesome 6 Pro";
      font-size: 0.8rem; } }
.site-footer {
  background-color: var(--footerBackground); }
  .site-footer .footer h5 {
    font-weight: 500;
    color: var(--blue);
    margin-bottom: 1rem; }
  .site-footer .footer .foot {
    border-bottom: 1px solid var(--gray-border); }
    .site-footer .footer .foot .foot__social {
      padding-left: 1rem; }
      .site-footer .footer .foot .foot__social p {
        color: var(--text-color); }
  .site-footer .footer .links {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap; }
    .site-footer .footer .links .links__items h6 {
      color: var(--dark-blue);
      margin-bottom: 1rem; }
    .site-footer .footer .links .links__items ul li {
      position: relative;
      padding-left: 1rem; }
      .site-footer .footer .links .links__items ul li a {
        color: var(--text-color);
        padding: 3px 0;
        display: block; }
      .site-footer .footer .links .links__items ul li:before {
        width: 4px;
        display: block;
        height: 4px;
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        background: #6a7196; }
  .site-footer .list-socialMedia ul li {
    margin-right: 1.5rem; }
    .site-footer .list-socialMedia ul li i {
      font-size: 1.8rem; }
  .site-footer .foot__newsletter p {
    font-size: 12px;
    color: var(--text-color);
    margin-top: 0.3rem; }
  .site-footer .foot__newsletter--form {
    border: 1px solid var(--gray-border);
    background-color: var(--white);
    border-radius: 1.3rem;
    overflow: hidden; }
    .site-footer .foot__newsletter--form input {
      font-size: 12px; }
    .site-footer .foot__newsletter--form #form-button {
      background-color: var(--secondary-color);
      color: var(--white);
      padding: 1rem 2rem; }
  .site-footer .copyright {
    padding-top: 40px; }

@media (min-width: 992px) {
  .site-footer {
    padding: 40px; }
    .site-footer .foot {
      padding-bottom: 40px; } }
@media (max-width: 992px) {
  .site-footer .foot h5 {
    font-size: inherit; }
  .site-footer .foot .foot__social {
    margin: 0 -2rem;
    background-color: var(--dark-blue);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .site-footer .foot .foot__social h5 {
      color: var(--white);
      margin: 0; }
    .site-footer .foot .foot__social ul li i {
      font-size: 1.3rem; }
  .site-footer .foot__newsletter {
    padding-top: 2rem; } }
@media (min-width: 1200px) {
  .site-footer .footer .links .links__items {
    flex: 0 0 12.5%;
    max-width: 12.5%; } }
@media (max-width: 1200px) {
  .site-footer .footer .links .links__items {
    flex: 0 0 25%;
    max-width: 25%; } }
@media (max-width: 768px) {
  .site-footer .footer .links {
    padding-top: 2rem; }
    .site-footer .footer .links .links__items {
      flex: 0 0 100%;
      max-width: 100%; }
      .site-footer .footer .links .links__items ul {
        padding-right: 1rem;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s; }
      .site-footer .footer .links .links__items .accordion-button {
        cursor: pointer;
        display: flex;
        align-items: center; }
        .site-footer .footer .links .links__items .accordion-button:before {
          content: '\f078';
          font-family: "Font Awesome 6 Pro";
          font-size: 0.7rem;
          font-weight: bold;
          margin-left: 0.5rem;
          color: var(--primary-color); }
        .site-footer .footer .links .links__items .accordion-button.active:before {
          content: ""; }
        .site-footer .footer .links .links__items .accordion-button:after {
          display: none; } }
@media (min-width: 768px) {
  .card {
    border: none; }

  .site-footer .footer .links .links__items h6 {
    font-size: 18px; } }
.copyright {
  padding: 1.5rem 0;
  background-color: #f0f4fc; }
  .copyright p {
    margin: 0;
    color: var(--text-color);
    font-size: 12px; }
    .copyright p a {
      color: inherit; }
  .copyright .list-socialMedia li {
    margin-left: 0.7rem; }
    .copyright .list-socialMedia li i {
      color: var(--text-color); }

.icon-toggle .btn-close {
  display: none; }
.icon-toggle .hamburgerMenuBtn {
  display: flex; }
.icon-toggle.active .btn-close {
  display: flex; }
.icon-toggle.active .hamburgerMenuBtn {
  display: none; }

#mobileMenu {
  color: var(--text-color);
  width: 300px;
  transition: all 0.3s;
  border: 0; }
  #mobileMenu.withSearch {
    width: 100%; }
    #mobileMenu.withSearch .responsiveSearch-input {
      display: flex;
      align-items: center;
      color: var(--text-color);
      overflow: hidden;
      border-radius: 0.8rem;
      border: 1px solid transparent;
      transition: all 0.3s; }
      #mobileMenu.withSearch .responsiveSearch-input input {
        padding: 1rem 0 1rem 1rem;
        color: inherit; }
      #mobileMenu.withSearch .responsiveSearch-input input::placeholder, #mobileMenu.withSearch .responsiveSearch-input button {
        color: inherit; }
      #mobileMenu.withSearch .responsiveSearch-input:focus-within {
        border-color: var(--gray-border); }
  #mobileMenu .mobileMenu__top {
    border: 1px solid var(--gray-border);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 2rem 0; }
    #mobileMenu .mobileMenu__top .head .head__theme:before {
      content: '';
      width: 2px;
      background-color: var(--gray-border);
      height: 21px;
      display: block;
      margin: 0 0.5rem; }
    #mobileMenu .mobileMenu__top .head .head__profile {
      font-weight: bold;
      white-space: nowrap; }
  #mobileMenu .mobileMenu__middle {
    height: 100%;
    overflow: auto; }
  #mobileMenu .subMenuMobile .mobileMenu__middle {
    height: 83%; }
  #mobileMenu .pollDigiato, #mobileMenu .list-socialMedia {
    padding: 1rem; }
  #mobileMenu .offcanvas-wrapper {
    height: 85%;
    position: relative;
    overflow-y: hidden; }
  #mobileMenu .subMenuMobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    display: none; }
  #mobileMenu .backBtn {
    color: var(--text-color);
    font-weight: bold; }
    #mobileMenu .backBtn i {
      font-weight: bold; }
  #mobileMenu .offcanvas-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: var(--white); }
  #mobileMenu .pollDigiato {
    background-color: var(--secondary-color);
    color: var(--white); }

.list-socialMedia i {
  font-size: 1.3rem;
  color: var(--secondary-color); }

.btn-close {
  background: none;
  color: inherit !important;
  font-size: 1.7rem;
  display: flex;
  opacity: 1 !important; }
  .btn-close:focus {
    box-shadow: none; }

@media (min-width: 1200px) {
  #socialNetwork h4 {
    font-size: 2.4rem; }
  #socialNetwork p {
    font-size: 1.3rem; } }
@media (max-width: 1200px) {
  #socialNetwork h4 {
    font-size: 1.6rem; }
  #socialNetwork p {
    font-size: 1.1rem; } }
#socialNetwork {
  border: 5px solid var(--lightBlue);
  border-radius: 2rem;
  padding: 7rem 5rem;
  position: relative;
  overflow: hidden; }
  #socialNetwork h4 {
    color: var(--blue);
    font-weight: bold;
    margin-bottom: 1.2rem; }
  #socialNetwork p {
    max-width: 50%;
    color: var(--text-color);
    margin-bottom: 2rem; }
  #socialNetwork ul li {
    margin-left: 1.5rem; }
    #socialNetwork ul li a {
      color: var(--secondary-color);
      font-size: 2.2rem; }
  #socialNetwork::before {
    content: "";
    display: block;
    width: 500px;
    height: 100%;
    border-radius: 50%;
    background: #ddedfc;
    position: absolute;
    -webkit-transform: scale(1.5, 2);
    transform: scale(1.5, 2);
    z-index: -1;
    right: -70px;
    top: 0; }
  #socialNetwork:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-left: 55px;
    width: 475px;
    z-index: 0;
    background: url("assets/imgs/social-bg.svg") 30px center no-repeat; }

.todaysNews__more {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 1rem;
  color: var(--white);
  padding: 0.9rem 2rem;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color) !important;
  margin: 2rem 0;
  font-weight: 500;
  transition: all 0.3s; }
  .todaysNews__more:hover {
    opacity: 0.8; }
  .todaysNews__more i {
    font-weight: 500; }
  .todaysNews__more:hover {
    background-color: var(--secondary-color);
    opacity: 1;
    color: var(--white) !important; }

.darkMode {
  background-color: var(--dark-body);
  color: var(--light-textColor); }
  .darkMode .openSearchMobile, .darkMode .mobileMenu__bottom {
    background-color: var(--dark-mobildMenu); }
  .darkMode #mobileMenu .backBtn {
    color: var(--white) !important; }
  .darkMode .site-footer .footer .links .links__items .accordion-button:before {
    color: var(--text-color); }
  .darkMode .primary-menu a:hover {
    color: var(--primary-color); }
  .darkMode .copyright {
    background-color: #161718; }
    .darkMode .copyright .list-socialMedia li i {
      color: var(--white); }
  .darkMode .site-footer .footer h5 {
    color: var(--text-color); }
  .darkMode .site-footer .footer .links .links__items h6 {
    color: var(--text-color); }
  .darkMode .site-footer .footer .links .links__items ul li a {
    color: var(--white); }
  .darkMode .site-footer {
    background-color: #03050c; }
  .darkMode #socialNetwork {
    border-color: var(--dark-searchArea); }
    .darkMode #socialNetwork h4 {
      color: var(--white); }
    .darkMode #socialNetwork:before {
      background: var(--dark-searchArea); }
  .darkMode .hamburgerMenuBtn {
    color: var(--white) !important; }
  .darkMode .card.videoCard .card__picture:after {
    background-color: var(--white); }
  .darkMode .card.videoCard .card__picture:before {
    color: var(--primary-color); }
  .darkMode #mobileMenu .subMenuMobile {
    background-color: var(--dark-mobildMenu); }
  .darkMode .siteTitle {
    color: var(--text-color); }
  .darkMode .site-header {
    background-color: var(--darkHeaderBackgroundColor);
    color: inherit; }
    .darkMode .site-header .head__profile {
      color: inherit; }
    .darkMode .site-header .logo-light {
      display: none; }
    .darkMode .site-header #searchArea {
      border-color: transparent; }
      .darkMode .site-header #searchArea.active {
        background-color: var(--dark-searchArea); }
  .darkMode .modal-content {
    background-color: var(--dark-body);
    color: var(--white); }
  .darkMode #mobileMenu {
    background-color: var(--dark-mobildMenu);
    color: inherit; }
  .darkMode #loginModal .form-control:hover, .darkMode #loginModal .form-control:focus {
    border-color: transparent; }
  .darkMode .site-navigation {
    background-color: var(--darkHeaderBackgroundColor); }
  .darkMode .dropdown-menu {
    background-color: var(--dark-mobildMenu);
    color: inherit;
    white-space: nowrap; }
  .darkMode .dropdown-toggle::after {
    background: var(--dark-mobildMenu); }
  .darkMode .homeCardsFooterBox, .darkMode .editorsSuggestions {
    background-color: var(--dark-body); }
  .darkMode .homeCardsFooterBox .homeCardsFooter {
    background-color: var(--dark-searchArea); }
  .darkMode .miniCard .miniCard__title p {
    color: var(--white); }
  .darkMode .card.homeTodayItem:not(.card--full) .card-overload .card__overload--title, .darkMode .card.videoCard:not(.card--full) .card-overload .card__overload--title {
    color: var(--white); }
  .darkMode .card.homeTodayItem:not(.card--full) .card-overload .card__overload--description, .darkMode .card.videoCard:not(.card--full) .card-overload .card__overload--description {
    color: var(--text-color); }
  .darkMode .applicationAreaSwiper .swiper-button-prev.swiper-button-next, .darkMode .applicationAreaSwiper .swiper-button-next.swiper-button-next {
    background: linear-gradient(-90deg, #161718 32.65%, rgba(45, 46, 49, 0) 100%); }
  .darkMode .applicationAreaSwiper .swiper-button-prev.swiper-button-prev, .darkMode .applicationAreaSwiper .swiper-button-next.swiper-button-prev {
    background: linear-gradient(90deg, #161718 32.65%, rgba(45, 46, 49, 0) 100%); }
  @media (min-width: 992px) {
    .darkMode .site-header .logo-dark.logoImg {
      display: block; } }
  @media (max-width: 992px) {
    .darkMode .mini-logo.logo-dark {
      display: block; }
    .darkMode .mini-logo.logo-light {
      display: none; } }

.openSearchMobile {
  position: absolute;
  background: var(--white);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }
  .openSearchMobile .openSearchMobile__keywords ul {
    display: flex;
    flex-wrap: wrap; }
    .openSearchMobile .openSearchMobile__keywords ul li {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 1.5rem; }
      .openSearchMobile .openSearchMobile__keywords ul li a {
        color: inherit;
        font-weight: 500; }

#pollDigiato {
  position: fixed;
  bottom: 8rem;
  color: var(--white) !important;
  z-index: 10;
  opacity: 1 !important;
  left: -3.9rem;
  transform: rotate(90deg);
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 10px 10px 0 0;
  color: var(--white);
  padding: 0.8rem 2rem; }
  #pollDigiato:hover {
    opacity: 0.8; }

.backToTop {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #5ca7f0;
  color: var(--white) !important;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  position: fixed;
  bottom: 6rem;
  left: 6rem;
  display: none;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s; }
  .backToTop.active {
    display: flex;
    opacity: 1;
    transition: all 0.3s; }
  .backToTop:hover {
    background-color: var(--primary-color); }

/*# sourceMappingURL=style.css.map */
