:root {
  --header-backgroundColor: #f7f9fd;
  --darkHeaderBackgroundColor: #161718;
  --gray-border: #e1eaf9;
  --white: #fff;
  --text-color: #888dab;
  --dark-blue: #16205b;
  --primary-color: #0075e7;
  --secondary-color: #f15928;
  --dark-searchArea: #43464a;
  --dark-body: #161718; }

html {
  font-size: 14px; }

body {
  font-family: IranSans, 'Figtree';
  font-size: 1rem; }

a {
  text-decoration: none; }

.btn:focus, .btn:active {
  outline: none;
  border-color: transparent !important; }

input:focus {
  box-shadow: none !important; }

.site-header {
  padding: 1.5rem 0;
  transition: all 0.3s;
  background-color: var(--header-backgroundColor);
  color: var(--text-color); }
  .site-header .head .head__theme {
    position: relative;
    color: inherit;
    display: flex; }
    .site-header .head .head__theme:after {
      content: '';
      width: 2px;
      height: 21px;
      background-color: var(--gray-border);
      display: block;
      margin: 0 1rem; }
    .site-header .head .head__theme i {
      transform: rotate(-10deg); }
  .site-header .logo-dark {
    display: none; }
  .site-header i {
    font-size: 1.3rem; }
  .site-header #searchArea {
    border-radius: 1rem;
    width: 0;
    transition: all 0.3s;
    padding: 0 1.2rem; }
    .site-header #searchArea .input-group {
      flex-wrap: nowrap; }
      .site-header #searchArea .input-group input.form-control {
        padding: 0; }
    .site-header #searchArea.active {
      border: 1px solid var(--gray-border);
      background-color: var(--white);
      width: 25rem; }
    .site-header #searchArea .btn {
      color: inherit; }
    .site-header #searchArea input.form-control {
      color: var(--text-color);
      height: 3rem; }
      .site-header #searchArea input.form-control::placeholder {
        color: inherit;
        font-weight: 500;
        opacity: 0.7;
        font-size: 0.9rem; }
  .site-header .hamburgerMenuBtn {
    color: var(--dark-blue) !important; }
    .site-header .hamburgerMenuBtn i {
      font-size: 1.7rem; }

#loginModal {
  font-size: 0.9rem; }
  #loginModal .modal-content {
    border-radius: 1rem;
    border: none;
    overflow: hidden; }
  #loginModal .loginModal__picture {
    background-color: var(--header-backgroundColor); }
    #loginModal .loginModal__picture h5 {
      color: var(--dark-blue);
      font-size: 1.2rem;
      font-weight: bold; }
  #loginModal .loginModal__picture, #loginModal .loginModal__form {
    padding: 4rem 3rem; }
  #loginModal .form-group label {
    color: var(--text-color); }
  #loginModal .form-control {
    border: 1px solid var(--gray-border);
    background-color: var(--header-backgroundColor);
    text-align: right;
    padding: 1rem;
    transition: all 0.3s;
    border-radius: 0.8rem; }
    #loginModal .form-control::placeholder {
      font-size: 0.9rem;
      opacity: 0.5; }
    #loginModal .form-control:hover, #loginModal .form-control:focus {
      border-color: var(--primary-color);
      background-color: var(--white); }
    #loginModal .form-control.error-message {
      border-color: red; }
  #loginModal .modalLoginBtn {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 0.8rem;
    color: var(--white);
    padding: 0.9rem 2rem; }
    #loginModal .modalLoginBtn:hover {
      opacity: 0.8; }
  #loginModal span.error-message {
    color: red;
    margin-top: 1rem;
    display: block;
    font-size: 0.8rem; }
  #loginModal .loginModal__form--links {
    color: var(--primary-color); }
    #loginModal .loginModal__form--links button {
      color: inherit;
      font-size: small; }
  #loginModal .registerModalbox, #loginModal .forgotModalbox {
    display: none; }

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    --bs-modal-width: 900px; }

  .site-header .mini-logo {
    display: none; } }
@media (max-width: 992px) {
  .site-header .logoImg {
    display: none; }
  .site-header .logo-light.mini-logo {
    display: block; } }
.darkMode {
  background-color: var(--dark-body); }
  .darkMode .hamburgerMenuBtn {
    color: var(--white) !important; }
  .darkMode .site-header {
    background-color: var(--darkHeaderBackgroundColor);
    color: var(--white); }
    .darkMode .site-header .head__profile {
      color: inherit; }
    .darkMode .site-header .logo-light {
      display: none; }
    .darkMode .site-header #searchArea {
      border-color: transparent; }
      .darkMode .site-header #searchArea.active {
        background-color: var(--dark-searchArea); }
  .darkMode .modal-content {
    background-color: var(--dark-body);
    color: var(--white); }
  .darkMode #loginModal .form-control:hover, .darkMode #loginModal .form-control:focus {
    border-color: transparent; }
  @media (min-width: 992px) {
    .darkMode .site-header .logo-dark.logoImg {
      display: block; } }
  @media (max-width: 992px) {
    .darkMode .site-header .logo-dark.mini-logo {
      display: block; } }

/*# sourceMappingURL=style.css.map */
