@import "assets/scss/_colors.scss";

:root {
  --header-backgroundColor: #{$headerBackgroundColor};
  --darkHeaderBackgroundColor: #{$DarkHeaderBackgroundColor};
  --gray-border: #{$grayBorder};
  --white: #{$white};
  --text-color: #{$textColor};
  --dark-blue: #{$darkBlue};
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
  --dark-searchArea: #{$darkSearchArea};
  --dark-body: #{$darkBody};
}

html {
  font-size: 14px;
}

body {
  font-family: IranSans, 'Figtree';
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.btn:focus, .btn:active {
  outline: none;
  border-color: transparent !important;
}

@mixin bordered($color) {
  border: 1px solid $color;
}

@mixin borderRadius {
  border-radius: 0.8rem;
}

@mixin mainButtons($color,$radius) {
  border: 1px solid $color;
  background-color: $color;
  border-radius: $radius;
  color: var(--white);
  padding: 0.9rem 2rem;
  &:hover {
    opacity: 0.8;
  }
}

input:focus {
  box-shadow: none !important;
}

.site-header {
  padding: 1.5rem 0;
  transition: all 0.3s;
  background-color: var(--header-backgroundColor);
  color: var(--text-color);

  .head {
    .head__theme {
      position: relative;
      color: inherit;
      display: flex;

      &:after {
        content: '';
        width: 2px;
        height: 21px;
        background-color: var(--gray-border);
        display: block;
        margin: 0 1rem;
      }

      i {
        transform: rotate(-10deg);
      }
    }
  }

  .logo-dark {
    display: none;
  }

  i {
    font-size: 1.3rem;
  }

  #searchArea {
    border-radius: 1rem;
    width: 0;
    transition: all 0.3s;

    padding: 0 1.2rem;

    .input-group {
      input.form-control {
        padding: 0;

      }

      flex-wrap: nowrap;
    }

    &.active {
      @include bordered(var(--gray-border));
      background-color: var(--white);
      width: 25rem;


      //.input-group {
      //  flex-wrap: wrap;
      //
      //}


    }

    .btn {
      color: inherit;
    }

    input.form-control {
      //padding: 1rem;
      color: var(--text-color);
      height: 3rem;

      &::placeholder {
        color: inherit;
        font-weight: 500;
        opacity: 0.7;
        font-size: 0.9rem;
      }

    }
  }

  .hamburgerMenuBtn {
    color: var(--dark-blue) !important;

    i {
      font-size: 1.7rem;
    }
  }

}

#loginModal {
  font-size: 0.9rem;

  .modal-content {
    border-radius: 1rem;
    border: none;
    overflow: hidden;
  }

  .loginModal__picture {
    background-color: var(--header-backgroundColor);

    h5 {
      color: var(--dark-blue);
      font-size: 1.2rem;
      font-weight: bold;
    }

  }

  .loginModal__picture, .loginModal__form {
    padding: 4rem 3rem;
  }

  .form-group {
    label {
      color: var(--text-color);
    }
  }

  .form-control {
    @include bordered(var(--gray-border));
    background-color: var(--header-backgroundColor);
    text-align: right;
    padding: 1rem;
    transition: all 0.3s;
    @include borderRadius;

    &::placeholder {
      font-size: 0.9rem;
      opacity: 0.5;
    }

    &:hover, &:focus {
      border-color: var(--primary-color);
      background-color: var(--white);
    }

    &.error-message {
      border-color: red;
    }
  }

  .modalLoginBtn {
    @include mainButtons(var(--secondary-color), 0.8rem)
  }

  span.error-message {
    color: red;
    margin-top: 1rem;
    display: block;
    font-size: 0.8rem;
  }

  .loginModal__form--links {
    color: var(--primary-color);

    button {
      color: inherit;
      font-size: small;
    }
  }

  .registerModalbox, .forgotModalbox {
    display: none;
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    --bs-modal-width: 900px;
  }
  .site-header {
    .mini-logo {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .site-header {
    .logoImg {
      display: none;
    }

    .logo-light.mini-logo {
      display: block;
    }
  }
}


//darkMode theme

.darkMode {
  background-color: var(--dark-body);
  .hamburgerMenuBtn{
    color: var(--white) !important;
  }
  .site-header {
    background-color: var(--darkHeaderBackgroundColor);
    color: var(--white);

    .head__profile {
      color: inherit;
    }

    .logo-light {
      display: none;
    }



    #searchArea {
      border-color: transparent;

      &.active {
        background-color: var(--dark-searchArea);
      }
    }
  }
  .modal-content{
    background-color: var(--dark-body);
    color:var(--white)
  }
  #loginModal .form-control:hover, #loginModal .form-control:focus{
    border-color: transparent;
  }
  @media (min-width: 992px) {
    .site-header{
      .logo-dark.logoImg {
        display: block;
      }
    }
  }
  @media (max-width: 992px) {
    .site-header{
      .logo-dark.mini-logo {
        display: block;
      }
    }
  }
}