@import "assets/scss/_colors.scss";

:root {
  --header-backgroundColor: #{$headerBackgroundColor};
  --darkHeaderBackgroundColor: #{$DarkHeaderBackgroundColor};
  --gray-border: #{$grayBorder};
  --white: #{$white};
  --text-color: #{$textColor};
  --dark-blue: #{$darkBlue};
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
  --dark-searchArea: #{$darkSearchArea};
  --dark-body: #{$darkBody};
  --dark-mobildMenu: #{$darkMobileMenu};
  --light-textColor: #{$lightTextColor};
  --navigation-background: #{$navigationBackground};
  --black: #{$black};
  --blue: #{$blue};
  --lightBlue: #{$lightBlue};
}


@mixin bordered($color) {
  border: 1px solid $color;
}

@mixin borderRadius {
  border-radius: 0.8rem;
}

@mixin lightBorderRadius {
  border-radius: 0.4rem;
}

@mixin mainButtons($color,$radius,$padding) {
  border: 1px solid $color;
  background-color: $color;
  border-radius: $radius;
  color: var(--white);
  //padding: 0.9rem 2rem;
  padding: $padding;
  &:hover {
    opacity: 0.8;
  }
}

@mixin headThemeAfter($color,$height,$width) {
  content: '';
  width: $width;
  background-color: $color;
  height: $height;
  display: block;
  margin: 0 0.5rem;
}

@mixin transition {
  transition: all 0.3s;
}

@mixin limitLines($-webkit-line-clamp) {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: $-webkit-line-clamp;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin rowCard {
  border-radius: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  padding-bottom: 1rem;

  .card__picture {

    margin-right: 1rem;
    //flex: 1;
    display: flex;
    justify-content: end;

  }

  .card-overload {
    padding-top: 0 !important;
    display: flex;
    flex: 4;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;


  }
}

@mixin rowCardPictureSize($width,$height) {
  width: $width;
  height: $height;
}

html {
  font-size: 14px;
}

body {
  font-family: IranSans, 'Figtree';
  font-size: 1rem;
  @include transition;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1624px;
  margin: 0 auto;
  width: 100% !important;
  padding-left: 2rem;
  padding-right: 2rem;
}

.latestIranianNews__big {
  height: 100%;
}

.miniCard {
  .miniCard__picture {
    @include lightBorderRadius;
    width: 80px;
    height: 80px;
    display: block;
    padding-right: 0.5rem;
    overflow: hidden;
  }

  .miniCard__title {
    flex: 80%;
    font-weight: bold;

    p {
      color: var(--blue);
      line-height: 2;
      @include limitLines(2);
      margin-bottom: 0.5rem;

    }
  }

  .miniCard__date {
    font-size: 0.8rem;
    color: var(--text-color);
  }

}

.latestIranianNews__mini {
  .miniCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .miniCard {
      .miniCard__picture {
        padding-right: 0;
        margin-right: 1rem;
      }


      .card__overload--info {
        color: var(--text-color);

        .card__overload--author::after {
          background-color: var(--text-color);
        }
      }
    }
  }

}

@media (min-width: 1600px) {
  .container {
    width: 1616px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 986px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }

  .card {
    &.card--full {
      .card-overload {
        .card__overload--title {
          font-size: 2.5rem;
        }

        .card__overload--description {
          font-size: 0.8rem;
          max-width: 50%;
        }

        .card__overload--info {
          position: absolute;
          top: 1rem;
          right: 1rem;

          .card__overload--img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
          }
        }
      }


    }

    &.homeTodayItem:not(.card--full):not(.rowCard), &.videoCard {
      .card__picture {
        img {
          width: 100%;
        }
      }
    }

    &.rowCard {
      .card__picture {
        @include rowCardPictureSize(120px, 120px);

        img {
          object-fit: cover;
        }
      }
    }

    &.videoCard {
      .videoCardSpecial__followers {
        display: flex;
      }

      .card__picture {
        &:before {
          font-size: 1.7rem;
        }

        &:after {
          height: 4.5rem;
          width: 4.5rem;
        }
      }
    }
  }
  .lastVideos__big {
    height: 100%;
  }
  .miniCards {
    .miniCard {
      .miniCard__title {
        font-size: 1.3rem;
      }

      .miniCard__picture {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media (max-width: 768px) {
  .todayNews .row > *:not(:last-child),.videoCards .row > *:not(:last-child),.miniCards {
    .card.homeTodayItem:not(.card--full),.card.videoCard,.miniCard:not(:last-child) {
        border-bottom: 1px solid var(--gray-border);
    }
  }
  .todaysNews__more {
    width: 100%;
  }
  .lastVideos__big {
    height: 365px;
  }
  .card {

    &.homeTodayItem, &.videoCard:not(.videoCard--special) {
      .card__bookmark, .card__overload--description, .card-overload--categories, .card__overload--img, .card__picture::before, .card__picture::after {
        display: none !important;
      }
    }

    &.videoCard--special {
      .card-overload--categories, .card__picture::before, .card__picture::after {
        display: flex !important;
        z-index: 2;

      }
    }

    &.card--full {
      .card-overload {
        .card__overload--title {
          font-size: 1.4rem;
        }
      }
    }

    &.homeTodayItem:not(.card--full), &.videoCard {
      .card__overload--title {
        font-size: 0.9rem !important;
      }

      .card__overload--info {
        font-size: 0.8rem;
      }
    }

    &.homeTodayItem:not(.card--full):not(.rowCard), &.videoCard:not(.videoCard--special) {
      @include rowCard;

      .card__picture {
        @include rowCardPictureSize(80px, 80px)
      }
    }

    &.rowCard {
      .card__picture {
        @include rowCardPictureSize(80px, 80px);

        img {
          object-fit: cover;
        }
      }
    }

    &.videoCard {
      .videoCardSpecial__followers, .videoCardSpecial__date {
        display: none;
      }

      .card__picture {
        &:before {
          font-size: 0.9rem;
        }

        &:after {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
    }

  }
  .miniCards {
    .miniCard {
      padding-bottom: 1rem;
      .miniCard__title {
        font-size: 0.9rem;
      }

      .miniCard__picture {
        width: 80px;
        height: 80px;
      }
    }
  }

}


.btn:focus, .btn:active {
  outline: none;
  border-color: transparent !important;
}

input:focus {
  box-shadow: none !important;
}

.head {
  .head__theme {
    position: relative;
    color: inherit;
    display: flex;


    i {
      transform: rotate(-10deg);
    }
  }

  .searchArea {
    .btn {
      color: inherit;
    }
  }

  #searchArea {
    border-radius: 1rem;
    width: 0;
    @include transition;

    padding: 0 1.2rem;

    .input-group {
      input.form-control {
        padding: 0;

      }

      flex-wrap: nowrap;
    }

    &.active {
      @include bordered(var(--gray-border));
      background-color: var(--white);
      width: 25rem;

    }


    input.form-control {
      //padding: 1rem;
      color: var(--text-color);
      height: 3rem;

      &::placeholder {
        color: inherit;
        font-weight: 500;
        opacity: 0.7;
        font-size: 0.9rem;
      }

    }
  }

  i {
    font-size: 1.3rem;
  }
}


.site-header {
  padding: 1.5rem 0;
  @include transition;
  background-color: var(--header-backgroundColor);
  color: var(--text-color);

  //.site-branding {
  //  img{
  //    width: 142px;
  //    transition: width .3s 0s ease-out,.3s opacity;
  //  }
  //}

  .site-branding {


    .logo-brand {
      width: 135px;
      display: block;

      img {
        width: 100%;
      }
    }

    //
    //
    //img {
    //  @include transition;
    //  width: 100%;
    //}

    &.small {
      //width: 35px;
      //overflow: hidden;

      img {
        //width: 80px;
      }
    }

  }

  .head {
    @include transition;

    .head__theme {
      &:after {
        @include headThemeAfter(var(--gray-border), 21px, 2px);
      }
    }
  }


  .logo-dark {
    display: none;
  }


}

.site-navigation {
  @include transition;
  position: sticky;
  top: 0;
  z-index: 100;

  &.hidden {
    transform: translateY(-100%);
  }

  .popularArea, .primary-menu {
    @include transition;
  }

  &.sticky {
    .primary-menu {
      padding-right: 40px;
    }

    .popularArea {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.hiddenNav {
    transform: translateY(-100%);
  }

  .hamburgerMenuBtn {
    color: var(--dark-blue) !important;

    i {
      font-size: 1.7rem;
    }
  }

  background-color: var(--navigation-background);
  color: var(--text-color);

  a {
    color: inherit;

  }


  .list-unstyled {
    a {
      font-size: small;
      margin-right: 1.5rem;
    }
  }
}


body {
  //&.hidden {
  //  .site-header {
  //
  //    transform: translateY(-100%);
  //  }
  //}

  &.sticky {


    .site-header {
      position: sticky;
      z-index: 1000;
      top: -100px;
      //top: 0;
      .site-branding {
        @include transition;

        .logo-brand {
          display: block;
          width: 35px;
          overflow: hidden;

          img {
            width: 80px;
          }
        }
      }

      .head, .site-branding {
        transform: translateY(90px);
      }
    }

    &.hiddenNav {
      .site-branding, .head {
        transform: translateY(0);
      }
    }
  }
}


.dropdown-menu {
  border: none;

  .dropdown-submenu {
    .dropdown-menu {
      right: 100%;
      top: 0;
      white-space: nowrap;
    }
  }
}

.primary-menu {
  a {
    display: block;
    color: inherit;
  }

  .dropdown-toggle::after {
    border: none;
    width: 16px;
    height: 16px;
    content: '';
    background: #fbfcfd;
    display: block;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 50%;
    margin-top: 5px;
    transform: rotate(45deg) translate(0, -100%);
  }

  ul.nav li:hover {
    & > ul.dropdown-menu {
      display: block;

    }

    .dropdown-toggle::after {
      opacity: 1;
    }
  }

}

.siteTitle {
  margin-bottom: 16px;
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -0.5px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    @include headThemeAfter(var(--secondary-color), 23px, 8px);
    border-radius: 0.2rem;
  }
}

@media (min-width: 1200px) {
  .primary-menu {
    a {
      padding: 1.5rem;
    }
  }
  .card {
    &.rowCard {
      .card__picture {
        @include rowCardPictureSize(330px, 180px);

        img {
          object-fit: cover;
        }
      }
    }
  }
  .latestIranianNews__mini {
    .miniCards {
      min-height: 45rem;
    }
  }
}

@media (max-width: 1200px) {
  .primary-menu {
    a {
      padding: 1.5rem 0.6rem;
    }
  }
  .miniCards {
    .miniCard {
      margin-bottom: 1rem;
    }
  }
}

.homeCards {
  background-color: var(--black);

  .card__overload {
    z-index: 2;
  }

  .card__overload--title {
    color: var(--white);
    font-size: 2.7rem;
    font-weight: bold;
  }

  .card__overload--description {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2;
  }


  .homeFeaturedItem {
    position: relative;
    height: 583px;

    .attachment-single-reviews {
      object-fit: cover;
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      z-index: 1;
      top: 0;
      pointer-events: none;
    }

    &:after {
      left: 80%;
      width: 20vw;
      background: -webkit-gradient(linear, left top, right top, color-stop(0.35%, rgba(0, 0, 0, 0)), color-stop(53.68%, #000));
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) .35%, #000 53.68%);
    }

    &:before {
      left: 0;
      width: 70%;
      background: -webkit-gradient(linear, right top, left top, color-stop(0.35%, rgba(0, 0, 0, 0)), color-stop(53.68%, #000));
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0) .35%, #000 53.68%);
    }
  }
}

#loginModal {
  font-size: 0.9rem;

  .modal-content {
    border-radius: 1rem;
    border: none;
    overflow: hidden;
  }

  .loginModal__picture {
    background-color: var(--header-backgroundColor);

    h5 {
      color: var(--dark-blue);
      font-size: 1.2rem;
      font-weight: bold;
    }

  }

  .loginModal__picture, .loginModal__form {
    padding: 4rem 3rem;
  }

  .form-group {
    label {
      color: var(--text-color);
    }
  }

  .form-control {
    @include bordered(var(--gray-border));
    background-color: var(--header-backgroundColor);
    text-align: right;
    padding: 1rem;
    @include transition;
    @include borderRadius;

    &::placeholder {
      font-size: 0.9rem;
      opacity: 0.5;
    }

    &:hover, &:focus {
      border-color: var(--primary-color);
      background-color: var(--white);
    }

    &.error-message {
      border-color: red;
    }
  }

  .modalLoginBtn {
    @include mainButtons(var(--secondary-color), 0.8rem, 0.9rem 2rem)
  }

  span.error-message {
    color: red;
    margin-top: 1rem;
    display: block;
    font-size: 0.8rem;
  }

  .loginModal__form--links {
    color: var(--primary-color);

    button {
      color: inherit;
      font-size: small;
    }
  }

  .registerModalbox, .forgotModalbox {
    display: none;
  }
}

.homeCardsFooterBox, .editorsSuggestions {
  background-color: var(--navigation-background);
}

.homeCardsFooterBox {
  @include transition;

  .homeCardsFooter {
    @include transition;
    background-color: var(--header-backgroundColor);
    padding: 2rem;
    z-index: 10;
    position: relative;
    @include borderRadius;

    .swiper-slide {
      position: relative;

      &:not(:last-child):after {
        @include headThemeAfter(var(--gray-border), 60px, 1px);
        top: 0.8rem;
        right: -2rem;
        position: absolute;
      }
    }
  }
}

p {
  line-height: 2;
}


.rowCards .row > *:not(:last-child) {
  .card {
    border-radius: 0;

    &.homeTodayItem:not(.card--full), &.videoCard {
      border-bottom: 1px solid var(--gray-border);
    }

    padding-bottom: 2rem;
  }
}

.card {
  background-color: transparent;
  border: none;
  position: relative;
  overflow: hidden;

  &.videoCard {
    .card__overload--date {
      font-weight: 500;
    }

    .card__picture {


      position: relative;

      &:before {
        content: '\f04b';
        font-family: "Font Awesome 6 Pro";
        z-index: 2;
        color: var(--white);
      }

      &:after {
        content: '';
        background-color: var(--primary-color);
        z-index: 1;

      }

      &:before, &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.2rem;
      }


    }

    .card-overload {
      &:before {
        background: rgba(22, 32, 91, 0.5);
      }
    }

    .videoCardSpecial__date, .videoCardSpecial__followers {
      z-index: 2;
      position: relative;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .videoCardSpecial__followers {
      align-items: center;

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-left: -15px;
      }
    }
  }

  .card__overload--link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    left: 0;
  }

  a {
    color: inherit;
  }


  .card__picture {
    @include lightBorderRadius;
    overflow: hidden;
  }

  .card__overload--info, .card__overload--title, .card__overload--description {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  .card-overload {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2rem;

    .card-overload--categories {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .card__overload--category {
        z-index: 2;
        @include mainButtons(var(--dark-blue), 7px, 0.4rem 1rem);
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 0.9rem;
        pointer-events: all;

        &:hover {
          opacity: 1;
        }
      }
    }

    .card__overload--title {
      font-size: 1.2rem;
      line-height: 2;
      font-weight: bold;
      @include limitLines(2)
    }

    .card__overload--img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
    }

    &:before {
      z-index: 0;
      width: 100%;
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      content: '';
      //background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 32, 91, 0)), to(#16205b));
      background: linear-gradient(180deg, rgba(22, 32, 91, 0) 0, #16205b 100%);
      opacity: .5;
      pointer-events: none;
    }


    .card__overload--description {
      @include limitLines(2);
    }

  }

  &:not(.rowCard) {
    .card__overload--description {
      font-size: 0.8rem;
    }

    .card__overload--title {
      margin-bottom: 1.1rem;
    }
  }

  .card__picture {
    overflow: hidden;
    //flex-grow: 1;
    height: 100%;

    img {
      transition: all 0.7s;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    .card__picture {
      img {
        transform: scale(1.05);
      }
    }
  }

  &.homeTodayItem, &.videoCard {
    height: 100%;


    &:not(.card--full) {


      .card-overload {
        position: relative;
        padding: 1rem 0 0 0;

        &:before {
          display: none;
        }

        .card__overload--category {
          background-color: transparent;
          color: var(--text-color);
          margin-bottom: 0;
          border: none;
          padding: 0;
        }

        .card__overload--title {
          color: var(--blue)
        }

        .card__overload--info {
          color: var(--text-color);

          .card__overload--author {
            &:after {
              background-color: var(--text-color);
            }
          }
        }

        .card__overload--description {
          color: var(--dark-blue);
        }
      }
    }
  }

  &.rowCard {
    .card-date {
      color: #b3b6c9;
      font-weight: bold;
      margin-top: 2.2rem;
      display: block;
    }

    //@include rowCard;
    //
    //.card__overload--category {
    //  margin-bottom: 1rem!important;
    //}
    //
    //.card__overload--author:after {
    //  display: none;
    //}
  }
}

@media (min-width: 1200px) {
  .card {
    &.homeTodayItem, &.videoCard {
      &:not(.card--full) {
        &.col-reverse {
          display: flex;
          flex-direction: column-reverse;

          .card__picture {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

.card__bookmark {
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  @include mainButtons(var(--primary-color), 4px, 0.5rem 0.6rem);
  color: var(--white) !important;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: inherit;
  }

  &:hover {
    opacity: 1;
  }
}

.swiper-button-prev, .swiper-button-next {

  &:after {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
  }

  &.swiper-button-next {
    right: 0;
    left: auto;
  }

  &.swiper-button-prev {
    right: 2.5rem;
    left: inherit;
  }
}

.homeCards {

  .card__overload--info {
    &::before {
      @include headThemeAfter(var(--secondary-color), 20px, 8px);
      border-radius: 0.2rem;
    }
  }
}

.card__overload--info {
  font-size: 0.9rem;
  color: var(--white);
  white-space: nowrap;


  a {
    color: inherit;
  }


  .card__overload--author {
    pointer-events: all;
    position: relative;
    z-index: 2;

    &::after {
      @include headThemeAfter(var(--white), 15px, 1px)
    }
  }
}

.todayNews {
  .todayNews__head {
    a {
      color: var(--text-color);

      &.active {
        color: var(--primary-color);
      }

      i {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    --bs-modal-width: 900px;
  }
  .mini-logo {
    display: none;
  }
  .homeCardsFooterBox {

    .homeCardsFooter {
      margin-top: -3rem;
    }
  }
  .card {
    .card__overload--info {
    }
  }
}

@media (max-width: 992px) {
  .site-header {
    .logoImg {
      display: none;
    }


  }
  .mini-logo {
    &.logo-dark {
      display: none;
    }

    &.logo-light {
      display: block;
    }
  }
  #mobileMenu {
    .primary-menu {
      .withSubmenu {
        & > a {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &::after {
            content: '\f054';
            font-family: "Font Awesome 6 Pro";
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

#mobileMenu {
  color: var(--text-color);
  width: 300px;
  @include transition;

  .mobileMenu__top {
    @include bordered(var(--gray-border));
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1.5rem 0;

    .head {

      .head__theme {
        &:before {
          @include headThemeAfter(var(--gray-border), 21px, 2px)
        }
      }

      .head__profile {
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }

  .mobileMenu__middle {
    height: 100%;
    overflow: auto;
  }

  .pollDigiato, .list-socialMedia {

    padding: 1rem;
  }

  .offcanvas-wrapper {
    height: 85%;
    position: relative;
    overflow-y: hidden;
  }

  .subMenuMobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    display: none;
  }

  .backBtn {
    color: var(--text-color);
    font-weight: bold;

    i {
      font-weight: bold;
    }
  }

  .offcanvas-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: var(--white);
  }

  .list-socialMedia {
    i {
      font-size: 1.3rem;
      color: var(--secondary-color);
    }
  }

  .pollDigiato {
    background-color: var(--secondary-color);
    color: var(--white);
  }

}

.btn-close {
  background: none;
  color: inherit !important;
  font-size: 1.7rem;

  opacity: 1 !important;

  &:focus {
    box-shadow: none;
  }

}

@media (min-width: 1200px) {
  #socialNetwork {
    h4 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 1200px) {
  #socialNetwork {
    h4 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

#socialNetwork {
  border: 5px solid var(--lightBlue);
  border-radius: 2rem;
  padding: 7rem 5rem;
  position: relative;
  overflow: hidden;

  h4 {
    color: var(--blue);
    font-weight: bold;
    margin-bottom: 1.2rem;
  }

  p {
    max-width: 50%;
    color: var(--text-color);
    margin-bottom: 2rem;
  }

  ul {
    li {
      margin-left: 1.5rem;

      a {
        color: var(--secondary-color);
        font-size: 2.2rem;
      }
    }
  }

  &::before {
    content: "";
    display: block;
    width: 500px;
    height: 100%;
    border-radius: 50%;
    background: #ddedfc;
    position: absolute;
    -webkit-transform: scale(1.5, 2);
    transform: scale(1.5, 2);
    z-index: -1;
    right: -70px;
    top: 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-left: 55px;
    width: 475px;
    z-index: 0;
    background: url("assets/imgs/social-bg.svg") 30px center no-repeat;
  }
}

//darkMode theme
.todaysNews__more {
  @include mainButtons(transparent, 1rem, 0.9rem 2rem);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color) !important;
  margin: 2rem 0;
  font-weight: 500;
  @include transition;

  i {
    font-weight: 500;
  }

  &:hover {
    background-color: var(--secondary-color);
    opacity: 1;
    color: var(--white) !important;
  }
}

.darkMode {
  background-color: var(--dark-body);
  color: var(--light-textColor);

  #socialNetwork {
    border-color: var(--dark-searchArea);

    h4 {
      color: var(--white);
    }

    &:before {
      background: var(--dark-searchArea);
    }
  }

  .hamburgerMenuBtn {
    color: var(--white) !important;
  }

  .card.videoCard {
    .card__picture {
      &:after {
        background-color: var(--white);
      }

      &:before {
        color: var(--primary-color);
      }
    }
  }

  #mobileMenu {
    .subMenuMobile {
      background-color: var(--dark-mobildMenu);
    }
  }

  .siteTitle {
    color: var(--text-color);
  }

  .site-header {
    background-color: var(--darkHeaderBackgroundColor);
    color: inherit;

    .head__profile {
      color: inherit;
    }

    .logo-light {
      display: none;
    }


    #searchArea {
      border-color: transparent;

      &.active {
        background-color: var(--dark-searchArea);
      }
    }
  }

  .modal-content {
    background-color: var(--dark-body);
    color: var(--white)
  }

  #mobileMenu {
    background-color: var(--dark-mobildMenu);
    color: inherit;
  }

  #loginModal .form-control:hover, #loginModal .form-control:focus {
    border-color: transparent;
  }

  .site-navigation {
    background-color: var(--darkHeaderBackgroundColor);

  }

  .dropdown-menu {
    background-color: var(--dark-mobildMenu);
    color: inherit;
    white-space: nowrap;
  }

  .dropdown-toggle::after {
    background: var(--dark-mobildMenu);
  }

  .homeCardsFooterBox, .editorsSuggestions {

    background-color: var(--dark-body);
  }

  .homeCardsFooterBox {

    .homeCardsFooter {
      background-color: var(--dark-searchArea);
    }
  }

  .miniCard .miniCard__title p {
    color: var(--white);
  }

  .card {
    //background-color: transparent;

    &.homeTodayItem, &.videoCard {
      &:not(.card--full) {
        .card-overload {
          .card__overload--title {
            color: var(--white);
          }

          .card__overload--description {
            color: var(--text-color);
          }
        }
      }
    }
  }


  @media (min-width: 992px) {
    .site-header {
      .logo-dark.logoImg {
        display: block;
      }
    }
  }
  @media (max-width: 992px) {
    .mini-logo {
      &.logo-dark {
        display: block;
      }

      &.logo-light {
        display: none;
      }
    }
  }
}