$headerBackgroundColor:#f7f9fd;
$DarkHeaderBackgroundColor:#161718;
$grayBorder:#e1eaf9;
$white:#fff;
$textColor:#888dab;
$lightTextColor:#e1eaf9;
$darkBlue:#16205b;
$primary:#0075e7;
$secondary:#f15928;
$darkSearchArea:#43464a;
$darkBody:#161718;
$darkMobileMenu:#2d2e31;
$navigationBackground:#f0f4fc;
$black:#000;
$blue:#004b94;