$headerBackgroundColor:#f7f9fd;
$DarkHeaderBackgroundColor:#161718;
$grayBorder:#e1eaf9;
$white:#fff;
$textColor:#888dab;
$darkBlue:#16205b;
$primary:#0075e7;
$secondary:#f15928;
$darkSearchArea:#43464a;
$darkBody:#161718;